<h1></h1>
<p>Welcome to <b>LocalLibrary</b>, a very basic Express website developed as a tutorial example on the Mozilla Developer Network.</p>
<h1>Dynamic content</h1>
<p>The library has the following record counts:</p>
<ul style="margin-top: -20px;">
  <li><strong>Books:</strong> <%= data.book_count%> </li>
  <li><strong>Copies:</strong> <%= data.book_instance_count%> </li>
  <li><strong>Copies available:</strong> <%= data.book_instance_available_count%> </li>
  <li><strong>Authors:</strong> <%= data.author_count%> </li>
  <li><strong>Genres:</strong> <%= data.genre_count%> </li>
</ul>